# U1 - Country Statistics

Ni får ett land tilldelat till er grupp. Börja med att anonymisera kolumnen med idrottarnas namn med
hashfunktionen SHA-256.
Kokchun Giang
2 / 3
Undersök därefter hur det gått för landet i OS genom tiderna. Visualisera exempelvis:
de sporter landet fått flest medaljer i
antal medaljer per OS
histogram över åldrar
Skapa fler plots för att visualisera flera aspekter kring ert land och dess sportprestationer i OS

---

## a)

You have a country [**France**] assigned to your group. Start by *anonymizing* the column with the athletes' names with
hash function ***SHA-256.***

In [3]:
import pandas as pd
import hashlib as hl
data = pd.read_csv("../Data/athlete_events.csv")  
data.head(2)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN

In [10]:
# Convert all names in name column to string
data['Name'] = data['Name'].astype(str)

# Use lambda function to anonimize each name in the column 
data['Name'] = data['Name'].apply(
    lambda x:
        hl.sha256(x.encode()).hexdigest()
)
data.head(2)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,d392118055bf5b1d3aa9cc021a4b5cdb0a5cfa372aeb09...,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,a8835de22218cfbffb0aedd295b8f0d1d25d2baac11916...,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN

---

## b)

Examine how the country has fared in the Olympics throughout the ages. For example, visualize:

- sports where the country has gained the most amount of medals
- number of medals per OS
- hisogram over the ages

create more plots to visualize more aspects around France and its sports achievements in OS.

### b.1) Sport with most amount of medals

Replace me with description

### b.2) Median age of French participants

Replace me with description

### b.3) Male and Female Participants Distribution

Replace me with description

### b.4) Male and Female medal frequency

Replace me with description

### b.5) Histogram of all ages

Replace me with description

### b.6) Gold, Silver & Bronze

Plot a diagram with 3 lines, displaying amount of medals won across all the years of OS.

- Gold: Yellow
- Silver: Blue
- Bronze: Brown

---